.content-header-wrap{height:40px;}
.coupon-s-item {
    display: inline-block;
    border: 1px dashed #ddd;
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 5px;
    color: #333;
    min-width: 100px;
}
.box-header .box-title{line-height: 30px;}
.coupon-s-item:hover{border: 1px dashed #b1191a; color:#b1191a;}

.unselect {
    border-color: #eee;
}
.activity-btn{position:absolute; top:0px; right:27px; line-height: 38px;}
.activity-btn select{vertical-align: middle;     height: 30px;     border-color: #ccc;}
.content-header.fixed{position: fixed; width: 100%; z-index: 99; top:0px;}
.fixed .activity-btn{right:200px;}
.sortable-ghost{border: 1px dashed #ccc;}
.sortable-ghost.sortable-chosen>div{ opacity: 0; }
.sortable-drag{}


.couponList{padding:5px 15px 0px 0px; display: inline-block;}
.coupontype{  line-height: 38px;margin-left: 15px;  display: inline-block;}
.couponListWrap{max-height: 108px;  overflow: auto;   border: 1px solid #eee; padding-bottom: 5px;} 
.couponCusListWrap{border: 1px solid #eee; padding-bottom: 5px; padding-top:5px;} 
.couponCusListWrap{border: 1px solid #eee; padding-bottom: 5px; padding-top:5px;}
.couponuploadTable td{border-bottom:1px dotted #eee; padding:5px 0px;}
.couponuploadTable .uploadTitle{ text-align: center;}

.desc-steps{border-bottom:1px dashed #eee; margin-bottom:10px; position:relative;height: 70px; width:100%; overflow:hidden;}
.desc-steps .lemon-steps{ position: absolute; margin-left: 25%;}

.select-coupon{cursor:pointer; display: inline-block;height: 34px;line-height: 34px;border: solid 1px #d2d6de;width: 100%;padding: 0px 10px;}
.select-coupon .icon-down_arrow1{float:right;margin-top:10px;}
.coupon-par{position:relative;}
.coupon-par.limit{width: 120px;}
.coupon-wrap{padding:20px 15px;border:solid 1px #d2d6de;position:absolute;z-index:9999;background:#fff;width:400%;top:0;display:none;}
.coupon-par.show .coupon-wrap{display:block;/* max-height: 200px;overflow-y: auto; */} 
.coupon-list{margin-bottom:20px;max-height: 100px;overflow-y: auto;}
.coupon-list .s-coupon{border:solid 1px #d2d6de;padding:5px;float:left;margin-right:10px;margin-bottom:10px;font-weight: normal;}
.coupon-list input[type="checkbox"]:checked+label{border-color:#b1191a;color:#b1191a;}
.coupon-list input[type="checkbox"]{display:none;}
.coupon-list:after{content:"";display:block;clear:both;}
.coupon-save,.coupon-cancel{cursor:pointer;padding: 5px 15px;border: solid 1px #d2d6de;margin-right:10px;}
.coupon-save{background:#c9302c;border-color:#d20032;color:#fff;}
.coupon-save:hover{background:#d20032;color:#fff;}
.datetimepicker-hours thead .prev,.datetimepicker-hours thead .next{visibility:hidden !important;}
.selected-list .s-selected{display:inline-block;margin: 0 10px 10px 0;padding: 0 9px 0 11px;height: 28px;line-height: 28px;border: 1px dashed #ddd;color: #333;position:relative;font-weight:normal;}
.selected-list .s-selected:hover{color:#b1191a;border-color:#b1191a;}
.selected-list .delete-btn:hover{cursor:pointer;}

.product-set-style {color: #666;}
.product-set-style input{height:inherit;}
.product-set-style label{font-weight:normal;}
.product-set-style input.error.set-input{border-color: #eb0038;}
.product-set-style input.error.set-input+label{display:none !important;}
.product-set-style .pinyin-c{width: 820px;height: 150px;overflow-y: auto;}
.product-set-style .set-input{width: 50px;display: inline-block;margin: 2px;}
.product-set-style .check-span{height:inherit;margin-right:10px;}
.product-set-style .set-wrap{border:solid 1px #ddd;padding:10px;}
.product-set-style .file-btn{line-height:inherit;}
.product-set-style .s-l-area{margin-left: -15px;max-height: 100px;overflow-y: auto;border-bottom: solid 1px #ddd;margin-bottom: 10px;}
.product-set-style .set-fields tr td{border: solid 1px #e4e4ea;padding: 5px;}
.product-set-style .form-control[readonly]{background-color:#fff;}
.product-set-style .form-control[disabled]{background-color:#eee;}
.set-fields .set-input{width:70px;}
.clear-float:after {display: block;content: '';clear: both;}
.product-set-style .file-name{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.check-box-wrap input[type='checkbox']{display:none;}
.check-box-wrap input[type='checkbox']+label{padding:3px;font-weight:normal;margin-top:5px;border: solid 1px #fff;}
.check-box-wrap input[type='checkbox']:checked+label{color:#b1191a;border-color: #b1191a;}
.upload-icon-wrap {border: solid 1px #ccc;padding-top: 15px;padding-bottom: 15px;margin-left: 15px;}
.upload-icon-wrap span.check-wrap {display: inline-block;width: 105px;position: relative;top: -80px;}
.icon-wrap {display: inline-block;width: 100px;height: 100px;border: solid 1px #ccc;position: relative;overflow: hidden;}
.icon-wrap .add-icon {display: inline-block;width: 100px;height: 100px;font-size: 50px;text-align: center;line-height: 85px;color: #e4e4ea;}
.icon-wrap .upload-btn {display: block;width: 100px;padding: 8px 0px;text-align: center;color: #fff;background: rgba(0,0,0,0.3);position: absolute;cursor: pointer;bottom: 0px;}
.line {margin-bottom:15px;}
.line .check-span{float:left;width:110px;}
.step-title{border-bottom:}
.step-title .tlt-wrap {float: left;text-align: center;position: relative;}
.step-title .tlt-wrap i {display: inline-block;width: 20px;height: 20px;border-radius: 50%;background-color: orange;text-align: center;line-height: 20px;position: absolute;left: 35%;color:#fff;}
.step-title .tlt-wrap em {position: relative;top: 20px;}
.step-title .tlt-line {display: inline-block;float: left;width: 150px;border-bottom: solid 1px #eee;position: relative;top: 10px;}
#file-upload .form-control {height: auto;border: none;padding-left: 120px;}
#file-upload .form-control span {position: relative;margin-right: 30px;display: inline-block;}
#file-upload .form-control .tip {margin-top: 20px;color: rgb(254,92,31);}
.product-module-style .desc-steps .lemon-steps{margin-left:17%;}
.product-set-style .radio-span .input_radio:checked:disabled+label {background-position: -140px 0;}
.product-set-style .radio-span .input_radio:disabled+label {background-position: -100px 0;}
.module-box .box-header{cursor: move;}
.module-box .box-header:hover{    background: #f5f9ff;}
.datetimepicker-minutes{max-height:250px;overflow-y:auto;}