<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="false">
	
	 <!-- import 其他spring 配置文件 -->
	<import resource="classpath*:common-config/spring/spring-common.xml" />
	<import resource="classpath*:common-config/spring/spring-db-config.xml" />
	<import resource="classpath*:common-config/spring/spring-mybatis-mapper.xml" />
	<import resource="classpath*:common-config/spring/spring-mybatis-ictrade-mapper.xml" />
	<import resource="classpath*:common-config/spring/spring-transaction.xml" />
	<import resource="classpath*:common-config/spring/spring-transaction-aop.xml" />
	<import resource="classpath*:common-config/spring/spring-async.xml" />
	<import resource="classpath*:common-config/spring/spring-tools.xml" />	
	<import resource="classpath*:web-config/main-mq/spring-mq-consume-config.xml" />
	<import resource="classpath*:web-config/main-mq/spring-shiro.xml" />
	<import resource="classpath*:common-config/spring/spring-mq-produce-config.xml" />	
	<import resource="classpath*:common-config/spring/spring-search.xml" />
	<import resource="classpath*:common-config/spring/spring-aliyun-oss.xml" />
	<import resource="classpath*:common-config/spring/spring-cache.xml" />
	<context:component-scan base-package="com.ictrade">
		<!-- 只扫描加载@Service的业务逻辑层代码 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	



</beans>
