.top6 {
	position:relative;
	top:6px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
	margin-left: -20px;
}

.radio-inline input[type=radio] {
	position: relative;
	top: 2px;
	margin-right: 10px;
}

.radio-inline:last-child {
	margin-left: 20px;
}

.form-control[type=text] {
	display: inline-block;
	margin-right: 5px;
	width: 80%;
}

.creditDeadline[type=text] {
	width: 78%;
}

.addFile {
	width: auto;
}

.file-tips {
	margin-left: 10px;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
	background-color: #e0e9f9;
	color: #434343;
	border-color: #D2D8E9;
}

.fileItem.border {
	margin-bottom: 8px;
	float: left;
    border: 1px dashed;
    padding: 4px 6px;
	
}

.close {
	margin-left: 4px;
	font-size: 4px;
	float: none;
}

.form-horizontal .has-feedback .form-control-feedback {
	right: 67px;
}

.form-horizontal .has-feedback .form-control-feedback[data-bv-icon-for="creditDeadline"] {
	right: 35px;
}

.form-horizontal .has-feedback .form-control-feedback[data-bv-icon-for="common"] {
	right: 12px;
}