.content-wrapper .content-header{
	padding-top: 0;
	height:40px; 
	background-color:#FCFDFF;
	margin-top:0px;
}

.content-wrapper .content{
	background-color:#fff;
	min-height:300px;
	margin:10px;
}

.content-wrapper .content-header .header_tab{
	height: 40px;
    line-height: 40px;
    padding: 8px 20px 12px 20px;
    font-size: 14px;
    color: #919191;
}

.content-wrapper .content-header .pitch_tab{
	    background-color: #ecf0f5;
	    border-top: 2px solid #c11f2e;
}

.ml5 {
	margin-left: 5px;
}

.mr5 {
	margin-right: 5px;
}

#export {
	position: relative;
	top: -13px;
	margin-left: 32px;
	width: 85px;
	}