.table .name {
	background-color: #eeeeee;
	text-align: right;
	padding-right: 10px;
}

.table .value {
	background-color: #fff;
	text-align: left;
	padding-left: 10px;
}

a:hover, a:active, a:focus {
	color: #23527c;
}

#largeImg {
	position: absolute;
	z-index: 99999;
}

.litterImg {
	width:100px;
	height:100px;
}

.bigImg {
	width: 200px;
	height: 200px;
	border:2px solid #d6d6d6;
}
.content{
  background-color: #fff;
 }
 .col-xs-10 ul li{
  list-style: none;
  }
  .l{
    float:left;
  }
  .mt30{
     margin-top:30px;
   }
  .mt10{
  margin-top:10px;}
.mt20{
  margin-top:20px;}
  .r{
    float:right;
  }
  #todateCode{
    height: 185px;
    width: 100%;
    padding: 10px;
  }
  .logo-box #uploadback{
    position: absolute;
    bottom: 0;
    width: 120px;

  }
  input[type=button]{
   filter: alpha(opacity=0.8);
    -moz-opacity: 0.8;
    -khtml-opacity:0 .8;
    opacity: 0.8;
  }
  
  .manu_logo .file-btn{
    width: 120px;
    margin-top: 20px;
  }
  .remove-box{
   margin-top:35px;
   margin-left:10px;
  }
  .del_logo, .re-change, .manu_text{
   margin-right:10px;
  }
  .add-box{
  margin-top:20px;
 
  }
  
 .condition_inquery{
    background-color: #c11f2e;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
  }
  .return_btn{
    padding: 10px 20px;
    cursor: pointer;
    border: solid 1px #ddd;
    border-radius: 3px;
    font-size: 14px;
    color: #919191;
    margin-left: 30px;
  }
  .logo-box  img{
    width: 120px;
    height: 120px;
   }
   .b_red{
    border:1px  solid #eb0038;
    }
    .logo-box .small-box{
	   position: absolute;
	   bottom: -20px;
	   width: 120px;
   }
   .logo-box{
    float:left;
    }
   .logo-box .i-delete{
    position: absolute;
    right: 0px;
    top: -20px;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
   }
   .logo-box .i-delete:hover{
    background: #b1191a;
    color: #fff;
   }
   #materialName{
    height: 70px;
    width: 100%;
    padding: 5px;
   }
   #saleName{
    height: 70px;
    width: 100%;
    padding: 5px;
   }
   .mcontrol{
    display:inline-block;
   }
   .content-wrapper .content-header .header_tab {
    height: 40px;
    line-height: 40px;
    padding: 8px 20px 12px 20px;
    font-size: 14px;
    color: #919191;
    cursor: pointer;
	}
	.content-wrapper .content-header .header_tab.active {
    background-color: #ecf0f5;
    border-top: 2px solid #c11f2e;
	}
	.content-wrapper .material-header{
   	padding-top: 0;
    padding-left: 28px;
	}