.content-wrapper .content-header .header_tab{background:#f7f7f7;}
.main_cont_l{
	padding-top: 24px;
    padding-bottom: 20px;
    margin: 0 0;
    font-size: 12px;
    color: #333;
    
}

.list_title{
	margin-bottom: 10px;
	font-weight: bold;
    font-size: 16px;
}
.main_cont  .item{
    margin-bottom: 10px;
    position: relative;
}
.main_cont .item_r p{
	line-height:30px;
}
.main_cont .item_label {
    float: left;
    min-width: 91px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    color: #333;
    margin-right: 11px;
}
.main_cont .item_label.st2{
    min-width: 76px;
}
.main_cont  .s_input {
    width: 328px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    border-radius: 0;
}
.main_cont .l_month_input{
	 width: 60px;
	 height:30px;
	 line-height:30px;
	 margin-left: 5px;
	 margin-right: 5px;
}
.main_cont input[type=checkbox]{
	width:15px;
	height: 15px;
	position:relative;
	top:3px;
	margin-right:5px;
}
.main_cont input[type=radio]{
	width:15px;
	height: 15px;
	position:relative;
	top:3px;
	margin-right:5px;
}
.main_cont textarea{
	width: 600px;
    height: 200px;
    padding: 10px;
	resize:none;
}
.r_tag{
	color:#b1191a;
	margin-right:5px;
}
.ui-selectmenu-button.ui-button{
	margin-left:0;
}
.c_wrap .ui-selectmenu-button.ui-button{
	width: 80px;
	position: relative;
    top: 0;
    height:34px;
    line-height:34px;
    border-left:0;
}

.effect_type_wrap .ui-selectmenu-button.ui-button,.c_type_wrap .ui-selectmenu-button.ui-button{
	width: 154px;
}
/* 日期时间 */
.main_head_input {
    height: 32px;
    width: 153px;
    padding-left: 10px;
    font-size: 14px;
}
.icon-calendar {
    font-size: 16px;
    color: #aaa;
    position: absolute;
    right: 10px;
    top: 8px;
}
.y_btn{
	display:inline-block;
	width:100px;
	height:31px;
	line-height: 31px;
	background:#c11f2d;
	color:#fff;
	text-align:center;
	font-size: 12px;
	cursor: pointer;
	border-radius:3px;
}
.y_btn:hover{
	background: #b1191a;
}
.y_btn:active{
	background: #c81724;
}
.r_btn{
	position: relative;
    top: 1;
	display:inline-block;
	width:99px;
	height:31px;
	line-height: 31px;
	margin-left:13px;
	text-align:center;
	background:#ffffff;
	border:1px solid #979797;
	cursor: pointer;
	border-radius:3px;
}
.r_btn:link,.r_btn:visited{
	color:#919191;
	text-decoration:none;
}
.r_btn:hover,.r_btn:active{
	color:#b1191a;
	border:1px solid #b1191a;
	text-decoration:none;
}

.up_btn{
	display: inline-block;
    position: relative;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ddd;
    color: #333;
    cursor:pointer;
}
.up_file{
	position: absolute;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    left:0;
    top:0;
    z-index:3;
    opacity:0;
    cursor: pointer;
}
.shotImage{
	display:inline-block;
	display:none;
	margin-right: 10px;
}
.shotImage img{
	
}
.brand_cont,.party_cont{
	overflow-y:auto;
	height: 300px;
	width:640px;
	margin: 10px auto 0 auto;
}
.brand_item,.party_item{
	margin-left:5px;
}
.choose_btn{
	position:relative;
	left: -40px;
	cursor:pointer; 
}
/* 查看样式 */
.item.clear_fix .item_r{
	float:left;
	width: 600px;
}
.proof_img img{
	width: 80px;
	height: 80px;
}
.proof_img .big_img{
	width: 800px;
	height: auto;
}
.content_txt{
	
}
.clear_fix:after{
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clear_fix {
  zoom: 1;
}
/* 修改发行量弹窗 */
.layer_cont{
	text-align:center;
	margin-top:84px;
	font-size: 18px;
}
.fly_skin_class .icon-right-c{
	font-size: 18px;
	color: #87b848; 
	margin: 32px 0 0 0;
	font-weight: bold;
	display: inline-block;
}
/* coupon item */
.c_item_wrap{
	/* width: 300px; */
    position: absolute;
    right: 320px;
    top: 210px;
}
@media screen and (max-width: 1600px) {
    .c_item_wrap {
        right: 100px;
    }
}
@media screen and (max-width: 1440px) {
    .c_item_wrap {
        right: 80px;
    }
}
@media screen and (max-width: 960px) {   
    .c_item_wrap {
        right: 10px;
    }
}
.c_item{
	min-width: 260px;
    max-width: 400px;
}
.c_item_top{
	height:70px;
	background-color:#74D2D4;
	color:#fff;
	text-align:center;
}
.c_item_top .price{
	padding-top:5px;
	margin-bottom:5px;
	font-size: 24px;
	
}
.c_item_top .txt{
	fonts-size: 12px;
}
.c_item_bottom{
	/* height:60px; */
	padding-top:10px;
	padding-bottom:10px;
	font-size: 12px;
	color: #333;
	background-color: #ECF0F1;
}
.c_item_bottom p{
	margin-left: 30px;
	line-height: 16px;
	padding-right:10px;
}
/* 表单输入非法提醒样式 */
em[class*='error'] {
	position: absolute;
	top: 1px;
	display: inline-block;
	display:none;
	padding: 9px 10px;
	box-sizing: border-box;
	background-color: #fff4d7;
	font-size: 12px;
	color: #666;  /*transition:top 0.3s;*/
	margin-left:15px;
}
em[class*='error'].st2{
	padding-top: 2px;
    padding-bottom: 2px;
    top: 0;
}
em[class*='error']:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	right: 100%;
	position: absolute;
	width: 0;
	border-width: 5px;
	border-right-color: #fff4d7;
	top: 60%;
	border-width: 8px;
	margin-top: -11px;
}
.m_coupon_tip{
	background:#fff;
	color:#666;
}
.panel-default>.panel-heading{
	border:0;
	padding: 10px 20px;
}
.panel-default>.panel-heading{
	border:0;
}
.panel{
	border: 0;
	padding: 0 18px;
	box-shadow: 0 0 0;
}
.panel-body{
	padding:0;
}
.list-group{
	margin-top:15px;
}