<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="false">
	
	 <!-- import 其他spring 配置文件 -->
	<import resource="classpath*:common-config/spring/spring-common.xml" />
<!-- 	<import resource="classpath*:config/spring/spring-shiro.xml" /> -->
	<import resource="classpath*:web-config/portal/spring-async.xml" />
	<import resource="classpath*:common-config/spring/spring-tools.xml" />
	<import resource="classpath*:common-config/spring/spring-search.xml" />
	<import resource="classpath*:common-config/spring/spring-mq-produce-config.xml" />
	<import resource="classpath*:web-config/portal/spring-mq-consume-config.xml" />
	<import resource="classpath*:common-config/spring/spring-cache.xml" />
	<import resource="classpath*:common-config/spring/spring-cas-client.xml" />
	<import resource="classpath*:web-config/portal/spring-security.xml" />
	<import resource="classpath*:common-config/spring/spring-session.xml" />
	<import resource="classpath*:common-config/spring/spring-httpclient.xml" />
	<import resource="classpath*:web-config/portal/spring-shiro.xml" />
	<import resource="classpath*:common-config/spring/spring-aliyun-oss.xml" />
	<import resource="classpath*:web-config/portal/spring-restTemplate.xml" />
    <import resource="classpath*:web-config/portal/spring-client.xml" />
	
	<context:component-scan base-package="com.ictrade">
		<!-- 只扫描加载@Service的业务逻辑层代码 -->
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation" expression="org.springframework.scheduling.annotation.Async" />
	</context:component-scan>
    
</beans>
