/*浮窗*/
.fly_skin_class{margin: auto;background-color: #fff;border: 3px solid #afafaf !important;}
.fly_skin_class .layui-layer-content{font-size:16px;color: #333;text-align: left;line-height: 91px !important;}
.fly_skin_class .icon-right-c{position:relative;top:2px;font-size: 22px; color: #87b848; margin: 32px 0 0 0;font-weight: bold;display: inline-block;padding-right: 25px;}
/*浮窗*/

/*意见反馈*/
.feedbutton {
	    /* width: 242px;
	    height: 46px;
	    margin: 0 auto;
	    display: block;
	    text-align: center;
	    color: #fff;
	    background: #EB002B;
	    line-height: 46px;
	    font-size: 16px; */
	    border-radius: 3px;
	    cursor: pointer;
	    border: 1px solid #ddd;
	    color: #666;
	    padding: 11px 40px;
	    display: inline-block;
	    font-size: 12px;
	    line-height: normal;
	}
.feedbutton:hover{
	border:solid 1px #b1191a;
}	
.submit_btn{
	border: 1px solid #b1191a;
	background:#b1191a;
	color:#fff;
}
.submit_btn:hover{
	background:#c81724;
	color:#fff;
}
	.feedback .contact{
		width:430px;
	}
	.msg1{
		font-size:12px;
		line-height: 24px;
	}
	.wh{
		height: 65px;
		width:370px;
	}
	.text_c{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
    	box-sizing: border-box;
	}
	 /*提示文字  */
	.ts_text {
	    font-size: 14px;
	    background: #23b8c2;
	    height: 26px;
	    line-height: 26px;
	    color: #fff;
	    padding: 0 10px;
	    position: absolute;
	    top: 40px;
	    right: 0;
	    cursor: pointer;
	    display:none;
	}
/*意见反馈*/