@CHARSET "UTF-8";
/*404错误页面和error页面 */
body{background: #ffffff;}
.auto{margin: auto;}
.wrapper {width: 100%;border-bottom: 1px solid #e4e4e4;}
.wrong_main {margin: 0 auto;overflow: hidden;height: 450px;padding-bottom: 120px;}
.wrong_ct {width: 800px;}
.auto { margin: auto;}
.wg_right {margin: auto;text-align: center;}
.wg_right .text {padding: 95px 0 0px 0;}
.wr_ts {line-height: 22px;color: #3e4b48;}
.link_nav .back{width: 120px;height: 42px;line-height: 42px;background: #b2100d;color: #fff;border-radius: 3px;font-size: 16px;border-radius: 3px;
}
.link_nav{/* margin-left: 97px; */}
.logo_head{
	margin: auto;
    height: 106px;
    line-height: 106px;
    vertical-align: middle;
    width:1200px;
}
.link_nav .home{color:#3377aa;line-height: 42px;}
.footer{background: #ffffff;/*position: fixed;*/bottom: 0;width: 100%;}
.footer_new{padding-bottom: 50px;}
.backhover:hover .back{opacity:0.8;}
.footer .footer_new{ text-align:center; color:#999999; font-size:14px; line-height:24px;padding:25px 0; overflow:hidden;}
.footer_new a:link{color:#3377aa}
.footer_new a:hover{text-decoration: underline;}
.footer_new .partition{padding:0px 10px;}
.log_footer{min-width: 1200px;color:#575760; margin-top:15px; backface-visibility: hidden; overflow:hidden;}
.hd {
    border-bottom: 2px solid #B2191B;
}
.mt18{margin-top:18px;}
.maintain .footer_{margin-top:0px;border:none;}