.topbase li/*header start*/
.header{min-width: 1200px;}
.topbase{ height:30px;background:#F1F1F1; font-size:14px;}
.w{width:1200px; margin:0 auto;}
.topbase li{float:left;height:30px;line-height:30px;margin-left:5px;}
.topbase li:first-child {padding:0px 8px 0px 0px;}
.topbase li.none{ padding-left:0;}
.topbase li.spacer{width:1px;height:14px;padding:0;background:#ddd;}
.gred{color:#fa1919 !important;}

/*top*/

.logo_index{height:89px;width:340px; display: inline-block;}
.logo_index .logo{width:200px; height:89px;/* background:url(../../images/static/logo.png) no-repeat center 13px; */}
.search_cont{width:512px;height:70px;display: inline-block;}
.from_cont{width:592px;height:36px;border:2px solid #B61D1D; position: relative;}
.from_cont .icon-uniE93E{position: absolute;  right: 95px;  top: 12px; color:#999; cursor:pointer; display:none; opacity:0; font-size:14px;}
.from_cont .icon-uniE93E:hover{color:#B2191B}


select.stock_dropdown{
width:60px;height:36px;top:1px; left:1px;line-height:36px; border:none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 14px;
    background: url("../../images/icon.jpg") no-repeat scroll right center transparent;
}
select::-ms-expand { display: none; }
.s_select{width: 70px; position: absolute; left: 0px; top: 0px;}
.s_select .select_text{position: relative; background-color: #F9F9F9; height: 36px;width:80px; line-height: 36px; text-align: center; font-size: 16px;  border-right: 1px solid #ccc;}
/* .s_select .select_text option{display:inline-block; padding-left:20px;} */
.s_select .select_text .select_more{display:none;z-index:9;position: absolute; width:79px;border: 1px solid #ccc;background-color: #fff;}
.s_select .select_text .select_name{margin-right:12px;}
.s_select .select_text .icon-triangle-upmin{display:none;}
.s_select .select_text .icon-triangle-downmin{left:62px;}
.s_select .select_text:hover .icon-triangle-upmin{display:block;left:62px;}
.s_select .select_text:hover .icon-triangle-downmin{display:none;} 
.s_select .select_text a{display:block; font-size:14px;height:24px;line-height:24px;}
.s_select .select_text i{position: relative; top:2px; margin-right: 5px;}
.s_select .select_text label{position: absolute;top:12px; font-size:14px;margin-left:-6px;}
.select_list{display: none;}
.from_cont input.text{width:420px; color:#333333; border:none; background:none;outline:0; top:0; margin-left:90px; font-size:14px; display:block;line-height:36px; }
.from_cont .button{width:82px;height:36px; float:right;background:#B61D1D;border:none;line-height:1;color:#fff; font-size:16px; font-family: "Microsoft YaHei";cursor:pointer;}
.hotwords_s{height:28px; line-height:28px; overflow:hidden}
.hotwords_s a{white-space:nowrap; float:left; padding-right:20px;}
.hotwords_s a.gred{color:#FF0000}
/* 顶部栏修改 */
/* 我的订单 */
.order_show{
	display:none;
}
.my_order{
	position: relative;
}
.my_order:hover .order_hide{
	display:none;
}
.my_order:hover .order_show{
	display:inline-block;
}
.order_top{
	position: relative;
	width: 90px;
	border: 1px solid #f1f1f1;
	border-bottom: none;
}
.my_order:hover .order_top{
	background-color: #fff;
    border: 1px solid #e4e4ea;
    border-bottom: none;
}
.order_box{
	position: absolute;
    z-index: 99;
    left: 0px;
    display: none; 
    width: 90px;
    text-align: left;
    border: 1px solid #e4e4ea;
    border-top: none;
    background-color: #fff;
}
.my_order:hover .order_box{
	display:block;
}
.order_box a{
	display:block;
}
.order_box i{
	color:#b1191a;
}
/* 我的易库易 */
.my_yky{
	position: relative;
}
.my_yky:hover .yky_box{
	display:block;
}
.yky_top{
	position: relative;
	width: 100px;
	border: 1px solid #f1f1f1;
	border-bottom: 1px solid #fff;
	z-index:999;
}
.my_yky:hover .yky_top{
	background-color: #fff;
    border: 1px solid #e4e4ea;
    border-bottom: 1px solid #fff;
}
.cc_guest{
	position: absolute;
    z-index: 99;
    left: 0px;
    top:30px;
    display: none; 
    width: 280px;
    height:85px;
    text-align: left;
    border: 1px solid #e4e4ea;
    background-color: #fff;
}
.cc_user{
	position: absolute;
    z-index: 99;
    left: 0px;
    top:30px;
    display: none; 
    width: 280px;
    height:170px;
    text-align: left;
    border: 1px solid #e4e4ea;
    background-color: #fff;
}
.yky_box{
    display: none; 
}
.yky_show{
	display:none;
}
.my_yky:hover .yky_show{
	display:inline-block;
}
.my_yky:hover .yky_hide{
	display:none;
}
.yky_box_img{
	margin-top: 15px;
    margin-left: 12px;
    border-radius: 50%;
    border: solid 1px #e4e4ea;
    width: 58px;
    height: 58px;
}
.yky_box_img img{
	width: 58px;
    height: 58px;
    border-radius: 50%;
    margin-right: 4px;
}
.yky_box_name{
    margin-left: 12px;
    margin-top: 15px;
}
.yky_box_name p{
	font-size:14px;
	color:#333;
}
.email{
	width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../../images/static/sprite.png") no-repeat -256px -16px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
}
.complete{
	width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../../images/static/sprite.png") no-repeat -288px -16px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
}
.yky_box_top{
	height:86px;
	border-bottom: 1px solid #eee;
}
.yky_box_main{
	margin-top:10px;
}
.yky_box_main li{
	float: left;
    width: 110px;
    margin-left: 20px;
    padding: 0px!important;
}
.yky_box_main i{
	margin-left: 10px;
    min-width: 16px;
    line-height: 16px;
    position: relative;
    background-color: #B1191A;
    display: inline-block;
    height: 16px;
    border-radius: 16px;
    overflow: hidden;
    top: 3px;
}
.yky_box_main .lc{
	width: 8px;
    height: 16px;
    display: inline-block;
    background: url("../../images/static/sprite.png") no-repeat -1px -190px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.yky_box_main .tip_num{
	position: relative;
    color: #ffffff;
    z-index: 99;
    display: inline-block;
    height: 16px;
    padding: 0px 5px;
    min-width: 8px;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}
.yky_box_main .rc{
    width: 8px;
    height: 16px;
    display: inline-block;
    background: url("../../images/static/sprite.png") no-repeat -23px -190px;
    position: absolute;
    top: 0px;
    right: 0px;
}
/*购物车*/
	
/* 购物车悬浮框 */	
.selected_term {
	background: #e3edf3;
	padding: 10px 20px 5px 100px;
	position: relative;
}

.bread_crumbs a {
	padding-right: 6px;
}

.qView {
	position: absolute;
	top: 128px;
	left: 32px;
	font-color: f8f8f8;
	color: #c6c6c6;
}

.icon-sousuo {
	margin-right: 5px;
}

.g_img .producrImg{
	width: 62px;
	height: 62px;
	margin: 7px 10px;
}
/* .defaultimgList img{
	width:396px;
	hight:248px;
} */

.defaultimg{
	width:396px;
	hight:248px;
	margin-top:50px;
}
.list_info {
	float: left;
	line-height: 27px;
	text-align: left;
}
.list_info .npm{
	max-width: 228px;
	font-size:14px;
}
.g_detail {
	display: inline-block;
	max-width: 270px;
	float: left;
}
.newGoods {
	position: absolute;
	top:39px;
	left:-254px;
	background: #fff;
	width: 378px;
	display: block;
	z-index: 9999;
	border: 1px solid #B1191A;
	border-top: 0;
	display: none; 
}
.newGoods ul li {
	clear: both;
	list-style: none;
}

.newGoods p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.newGoods .categoryName{color:#999;}
.g_detail .quantity,.g_detail .quantitycny,.listlast .totalnum,.listlast .totalusd,.listlast .totalcny{font-weight: bold;}
.listlast .list_info{
	text-align:left;
}
.settleup_s{width: 125px; height: 36px; line-height: 36px;
    margin: 23px 0px 38px 0px;
    text-align: center;
    display: inline-block;
    position: relative;
    border:1px solid #dcdcdc;background-color:#f9f9f9;
}
.settleup_s a{display:block;}
.cl_cont{line-height:36px; color:#444; font-size:14px; font-weight:bold; font-family: "Arial";}
.cl_cont i{ color:#B61D1D; font-size:22px;line-height:38px; vertical-align: middle;  margin-right: 3px;}
	
.settleup_s:hover{
    border:1px solid #B61D1D;
	background: #fff !important;
	height:46px;
	} 
.settleup_s:hover .newGoods{display: block; } 	

.b1 {
	color: #B1191A;
}

.Goods_title {
	text-align: left;
	padding-left: 12px;
	height: 40px;
	line-height: 40px;
	width: 241px;
	border-top: 1px solid #B1191A;
}

.newGoods .center {
	max-height: 414px;
	/* min-height: 248px; */
	overflow-y: auto;
	overflow-x: hidden;
}

.newGoods .listlast {
	height: 46px;
	line-height: 46px;
	background:#f9f9f9;
}

.delete p {
	margin-right: 15px;
	margin-top: 46px;
}
.delete p:hover{
	cursor: pointer;
}
.totalnum{margin:2px;}
.cc .g_detail{
	font-weight:bold;
}

/*header end*/


/*MENU*/
.nav{height:40px;border-bottom: 2px solid #B2191B;z-index:2;min-width: 1200px;  backface-visibility: hidden;}
.nav .w { position: relative;height: 40px;}
.categorys_dropdown{position:relative;width: 198px;height:40px;;overflow: visible;background:#B2191B; z-index: 999; }
.w_spacer{border-bottom:2px solid #891113;bottom:-2px; left:0;width: 198px;}
.categorys_dropdown .all_Cat{display: block;width:130px;height: 40px;padding:0 10px 0 50px;font: 400 15px/44px "microsoft yahei";color: #fff;}
.categorys_dropdown i{ margin-right: 7px;}
.navitems{height:40px; float:left; position: relative; z-index: 2;}
.navitems li{ text-align:center; width:196px; line-height:40px; float:left; font-size:16px; font-weight:900;}
.navitems li.first{  width:136px; }
.navitems li.active a{ color:#B2191B;}
.a_g4:link,.a_g4:active{color:#333333;text-decoration:none;}
.a_g4:visited{color:#333333;text-decoration:none;}
.a_g4:hover{color:#C01F2E;text-decoration:none;}


/*cat*/
.menus{position: relative; border-left: 1px solid #B2191B;}
.menus .cat{height: 36px; line-height: 36px; color: #FFFFFF;}
.cat .p_cat{display: block; padding-left: 20px; color: #FFFFFF; font-size: 14px; position: relative;z-index: 2}
.p_cat span{margin-right: 10px;}
.p_cat .icon-indicate_r{  position: absolute;  right: 3px; top: 11px;}
.menus .cat:hover .p_cat{background-color: #FFFFFF; color: #B2191B}
.menus .cat:hover .sub_menus{display: block;}
.sub_menus{display: none; width: 749px; background-color: #FFFFFF; min-height: 469px;position: absolute; left: 196px;top: 0px; border-right: 1px solid #B2191B;border-bottom: 1px solid #B2191B; border-left: 1px solid #B2191B;}
.sub_menus .item a:hover{color: #B2191B}
.sub_menus .item dl{overflow: hidden; padding: 0px 10px; line-height: 22px;}
.sub_menus .item dt{float: left; width: 110px; text-align: right; padding: 10px 0px; line-height:25px;}
.sub_menus .item dt a{color:#666666;font-weight:700;}
.sub_menus .item dd{float: left; width: 370px; padding: 10px 0px; border-bottom: 1px dotted #ddd;}
.item dd a{padding: 0px 15px 0px 0px; float: left; line-height:25px;}
.item .channels{float: left; width: 500px;}
.item .channels .icon-indicate_r{position: relative; top: 1px;}
.item .brands{float: right; width:245px; text-align:right;}
.item .brands a img{margin-top:-6px;margin-right:10px;}
.item .brands a:first-child img{margin-top:10px;}
.show_more_cat{font-size: 14px;position: relative;z-index: 2;left:56px;top:-2px;}
.c_w{color:#fff;}
.ml4{margin-left:4px;}
.show_more_b{background-color: #fff;-khtml-opacity:0.2;-moz-opacity:0.2;filter:alpha(opacity=20);opacity:0.2;width: 158px;height: 25px;position: absolute;top: -4px;left: -40px;display: inline-block;}

/*menus hide*/

.close_dropdown .drp_cat{display: none;}
.close_dropdown:hover .drp_cat{display: block;}


/**/
.secondtitle .title {line-height: 40px;height: 40px;border-bottom: 1px solid #e6e6e6;background-color:#fff; padding-left:0px;}	
.secondtitle span.bl{border-bottom:2px solid #2396F5;font-size:14px;height:38px; padding-left:0;}
.secondtitle span.gr{border-bottom:2px solid #FA1919;font-size:14px;height:38px; padding-left:0;}
.ml40{margin-left:40px;}


/*jqueryui*/
.ui-menu .ui-menu-item{padding: 3px 1em 3px 1.6em; line-height: 20px; font-size: 14px;}
.ui-menu .ui-state-focus{background:#F3E7E7; border:1px solid #F3E7E7;}

/*new header*/

.hd{ /*padding-top:14px;*/ overflow:hidden;border-bottom: 2px solid #B2191B;}

.logo_index_new{height:89px;width:200px;display: inline-block;}
.logo_index_new .logo{width:200px; height:89px;background:url(../../images/static/logo.png) no-repeat left 15px;}

.navitems_n{height:40px; float:left;  margin-top:33px;}
.navitems_n li{ text-align:center;padding-left:65px; line-height:40px; float:left; font-size:16px; font-weight:900;}
.navitems_n li.active a{ color:#B2191B;}

.from_cont_new{width:393px;height:30px;margin-top:33px; float:right;border:2px solid #B61D1D;}
.from_cont_new .icon-uniE93E{position: absolute;  right: 95px;  top: 12px; color:#999; cursor:pointer; display:none; opacity:0; font-size:14px;}
.from_cont_new .icon-uniE93E:hover{color:#B2191B}

.s_select{width: 80px; left: 0px; top: 0px;}
.s_select .select_text_new{background-color: #F9F9F9; height: 30px; line-height: 30px; text-align: center; font-size: 16px;  border-right: 1px solid #ccc;}
.s_select .select_text_new i{position: relative; top:2px; margin-right: 5px;}
.select_list{display: none;}
.from_cont_new input.text{width:220px; height:30px; line-height:30px; color:#333333; border:none; background:none;outline:0; top:0; padding-left:90px; font-size:14px; display:block; }
.from_cont_new .button{width:70px;height:30px; float:right;background:#B61D1D;border:none;line-height:1;color:#fff; font-size:16px; font-family: "Microsoft YaHei";cursor:pointer;}

/*购物车悬浮框 */
.listlast .gocart{
	background: #b2191b;
    color: #fff;
    height: 30px;
    border-radius: 4px;
    width: 70px;
    line-height: 30px;
    margin-right: 5px;
    position: absolute;
    right: 5px;
    bottom:8px;
    }
.listlast .gocart:hover{
	background: #c81724;
	cursor: pointer;
	color: #fff;
 }
.newGoods .center ul .cc:first-child{border-bottom:none;}	

body .mt20 {
	margin-top: 20px;
}
