<?xml version='1.0' encoding='UTF-8'?>
<beans:beans xmlns='http://www.springframework.org/schema/security'  
  	xmlns:beans='http://www.springframework.org/schema/beans'  
  	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'  
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd ">
	<http auto-config="true">
	     <intercept-url pattern="/news.htm**" requires-channel="http"/>
	     <intercept-url pattern="/recruit.htm**" requires-channel="http"/>
	     <intercept-url pattern="/help.htm**" requires-channel="http"/>
	     <intercept-url pattern="/item.htm**" requires-channel="http"/>

	     <intercept-url pattern="/featuredProduct.htm**" requires-channel="http"/>
	     <intercept-url pattern="/recommend.htm**" requires-channel="http"/>
	     <intercept-url pattern="/advert.htm**" requires-channel="http"/>
	     <intercept-url pattern="/materialBrand.htm**" requires-channel="http"/>
	     <intercept-url pattern="/distributorView.htm**" requires-channel="http"/>
	     
	     <intercept-url pattern="/member.htm**" requires-channel="http"/>
	     <intercept-url pattern="/vipMember.htm**" requires-channel="http"/> 
	     
	     <intercept-url pattern="/cmVerify.htm**" requires-channel="http"/>
	     <intercept-url pattern="/customerBrand.htm**" requires-channel="http"/>
	     <intercept-url pattern="/purchasePoint.htm**" requires-channel="http"/>
	     
	     <intercept-url pattern="/deptUser.htm**" requires-channel="http"/>
	     <intercept-url pattern="/oss.htm**" requires-channel="http"/>
<!-- 	     <intercept-url pattern="/cms.htm**" requires-channel="http"/> -->
	     <intercept-url pattern="/crm.htm**" requires-channel="http"/>
	     <intercept-url pattern="/enterprise.htm**" requires-channel="http"/>
	     <intercept-url pattern="/verify.htm**" requires-channel="http"/>
	     <intercept-url pattern="/customers.htm**" requires-channel="http"/>
	      <intercept-url pattern="/**" requires-channel="https"/>
	      
		<port-mappings>
            <port-mapping http="8080" https="8443" />
            <port-mapping http="80" https="443" />
        </port-mappings>
        <headers>
        	<hsts disabled="true"/>
        	<frame-options policy="SAMEORIGIN"/>
        </headers>
        <csrf disabled="true"/> 
        <session-management session-fixation-protection="none"></session-management>
	</http>
	
	<authentication-manager>  
    </authentication-manager> 
    
   	<!-- 增加SLB模式下的spring security对https的支持 -->
   	<beans:bean class="com.ykyframework.security.web.access.channel.SLBBeanPostProcessor" />
	
</beans:beans>