<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="false">

	<!-- DispatcherServlet Context: defines this servlet's request-processing 
		infrastructure -->

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven validator="validator" />

	<!-- 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理 -->  
    <mvc:resources mapping="/images/**" location="/images/"/>  
    <mvc:resources mapping="/css/**" location="/css/"/>  
    <mvc:resources mapping="/js/**" location="/js/"/>  
    <mvc:resources mapping="/html/**" location="/html/"/>  
    <mvc:resources mapping="/common/**" location="/common/"/>
	<mvc:resources mapping="/resources/**" location="/resources/" />

	<!-- Resolves views selected for rendering by @Controllers to .jsp resources 
		in the /WEB-INF/views directory -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
    	<property name="contentType"><value>text/html;charset=UTF-8</value></property>  
		<!-- 暴露 context:property-placeholder 给jsp，参见http://stackoverflow.com/questions/3933862/how-to-use-property-from-property-file-specified-in-propertyplaceholderconfigure -->
		<property name="exposeContextBeansAsAttributes" value="true"/> 
		<property name="exposedContextBeanNames">
        	<list><value>appProps</value></list> 
    	</property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
<!-- 		<property name="basename" value="classpath:messages/messages" /> -->
		<property name="basenames">
			<list>
				<value>classpath:messages/messages</value>
				<value>classpath:messages/ValidationMessages</value>
				<value>classpath:org/hibernate/validator/ValidationMessages</value>
				<value>classpath:messages/exceptions</value>
			</list>
		</property>
		<property name="fallbackToSystemLocale" value="false"/> <!-- 很重要的属性，防止使用客户端默认的locale -->
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="3600"/>
		<property name="useCodeAsDefaultMessage" value="false"/>
	</bean>
	<!-- Spring国际化消息获取类 -->
<!-- 	<bean class="com.ictrade.common.utils.SpringMessageLocator" /> -->
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass"  value="org.hibernate.validator.HibernateValidator"/>
		<property name="validationMessageSource" ref="messageSource"/>      
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="zh" />
		<property name="cookieName" value="_site_language_"></property>
		<property name="cookieMaxAge" value="3600"></property>
	</bean>
	
	<!-- guowenyao add 20160216 
	<bean id="JSPviewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
          <property name="cache" value="false"/>  
          <property name="prefix" value="/WEB-INF/jsp/"/>  
          <property name="suffix" value=".jsp"/>  
          <property name="contentType"><value>text/html;charset=UTF-8</value></property>  
          <property name="order"><value>1</value></property>  
    </bean>  
	 end -->

	<mvc:interceptors>
	    <mvc:interceptor>
	        <mvc:mapping path="/**" />
	        <bean id="requestRateLimitInterceptor" class="com.ykyframework.web.aop.interceptor.RequestRateLimitInterceptor">
	            <constructor-arg index="0" value="30" /> <!-- 吞吐量 -->    
                <constructor-arg index="1" value="30" /> <!-- 时间间隔，默认秒 -->                    
                <constructor-arg index="2"> <!-- 白名单网段 -->
	                <array>  
				      <value>218.17.157.71</value>
				      <value>127.0.0.1</value>
				      <value>10.0.0.0/8</value>
				    </array>  
                </constructor-arg>
	        </bean>
	    </mvc:interceptor>
	    <mvc:interceptor>
	        <mvc:mapping path="/**" />
	        <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	            <property name="paramName" value="locale" />
	        </bean>
	    </mvc:interceptor>
	    <!-- jsp页面缓存设置的拦截器，默认没有缓存 -->
	    <mvc:interceptor>
	    	<mvc:mapping path="/**" />
	    	<bean id="webContentInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
		        <property name="cacheSeconds" value="0" />
		        <property name="useExpiresHeader" value="true" />
		        <property name="useCacheControlHeader" value="true" />
		        <property name="useCacheControlNoStore" value="true" />
		        <property name="cacheMappings">
			        <props>
			            <!-- cache for one month -->
			            <prop key="/cache/me/**">2592000</prop>
			        </props>
			    </property>
    		</bean>
	    </mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 自定义错误码的处理器，替代之前的 SimpleMappingExceptionResolver-->
	<bean class="com.ykyframework.web.aop.BaseControllerAdvice"/>
	<context:component-scan base-package="com.ictrade" >
		<!-- 只扫描加载@Controller的web控制层代码 -->
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.scheduling.annotation.Async"/>
	</context:component-scan>
        
    <!-- guowenyao begin add 20160121 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="5120000"/>
		<property name="defaultEncoding" value="utf-8"/>
	</bean>
	<!-- end -->
	<!-- 增加proxyTargetClass=true的属性，是为了强制shrio使用CGLIB代理，避免和spring AOP冲突 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">    
          <property name="proxyTargetClass" value="true"/>  
    </bean>  
    <!-- 注解AOP -->
	<bean id="authorizationAttributeSourceAdvisor" class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">  
        <property name="securityManager" ref="securityManager"/>          
    </bean>
    
    <!-- 支持跨域 -->
<!--     <mvc:cors> -->
<!--         <mvc:mapping path="/**" allowed-origins="*" allow-credentials="true" max-age="1800" allowed-methods="GET, HEAD, POST, PUT, DELETE, TRACE, OPTIONS, PATCH"/> -->
<!--     </mvc:cors> -->
</beans>