<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="false"> 

	<bean id="com.ykyframework.oss.OSSEndpoint.OSS_CN_SHENZHEN" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField" value="com.ykyframework.oss.AliyunOSSEndpoint.OSS_CN_SHENZHEN" />
	</bean>
	
	<bean id="aliyun.oss.account" class="com.ykyframework.oss.AliyunOSSAccount">
		<constructor-arg index="0" name="accessKeyId" value="${aliyun.OSS.accessKeyId}"></constructor-arg>
		<constructor-arg index="1" name="accessKeySecret" value="${aliyun.OSS.accessKeySecret}" ></constructor-arg>
		<constructor-arg index="2" name="roleARN" value="${aliyun.OSS.role}" ></constructor-arg>
	</bean>
	
	<bean id="aliyun.oss.domainmapper" class="com.ykyframework.oss.AliyunOSSDomainMapper">
		<property name="domainMap">
			<map>
				<entry key="ictrade-public-hz-uat">
					<list value-type="java.lang.String">
						<value>image:img0-uat.ykystatic.com</value>
						<value>file-uat.ykystatic.com</value>
					</list>
				</entry>
				<entry key="sz-ictrade-public-prod">
					<list value-type="java.lang.String">
						<value>image:img0.ykystatic.com</value>
						<value>image:img1.ykystatic.com</value>
						<value>file.ykystatic.com</value>
					</list>
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="aliyun.OSS.bucket.publicread" class="com.ykyframework.oss.AliyunOSSBucket">
		<constructor-arg index="0" type="com.ykyframework.oss.AliyunOSSAccount" ref="aliyun.oss.account"/>
		<constructor-arg index="1" type="java.lang.String" value="${aliyun.OSS.endpoint}" />
		<constructor-arg index="2" type="java.lang.String" value="${aliyun.OSS.bucket.publicread}" />
		<property name="domainMapper" ref="aliyun.oss.domainmapper" />
	</bean>
	
	<bean id="aliyun.OSS.bucket.material" class="com.ykyframework.oss.AliyunOSSBucket">
		<constructor-arg index="0" type="com.ykyframework.oss.AliyunOSSAccount" ref="aliyun.oss.account"/>
		<constructor-arg index="1" type="java.lang.String" value="${aliyun.OSS.endpoint}" />
		<constructor-arg index="2" type="java.lang.String" value="${aliyun.OSS.bucket.material}" />
		<property name="domainMapper" ref="aliyun.oss.domainmapper" />
	</bean>
	
	<bean id="aliyun.OSS.bucket.privateread" class="com.ykyframework.oss.AliyunOSSBucket">
		<constructor-arg index="0" type="com.ykyframework.oss.AliyunOSSAccount" ref="aliyun.oss.account" />
		<constructor-arg index="1" type="java.lang.String" value="${aliyun.OSS.endpoint}" />
		<constructor-arg index="2" type="java.lang.String" value="${aliyun.OSS.bucket.privateread}"/>
		<property name="domainMapper" ref="aliyun.oss.domainmapper" />
	</bean>
	
	<bean id="aliyun.OSS.bucket.publicread.root" class="com.ykyframework.oss.AliyunOSSDirectory">
		<constructor-arg index="0" type="com.ykyframework.oss.AliyunOSSBucket" ref="aliyun.OSS.bucket.publicread" />
		<constructor-arg index="1" type="java.lang.String" value="${aliyun.OSS.bucket.root}" />
	</bean>
	
	<bean id="aliyun.OSS.bucket.material.root" class="com.ykyframework.oss.AliyunOSSDirectory">
		<constructor-arg index="0" type="com.ykyframework.oss.AliyunOSSBucket" ref="aliyun.OSS.bucket.material" />
		<constructor-arg index="1" type="java.lang.String" value="material/" />
	</bean>
	
	<bean id="aliyun.OSS.bucket.privateread.root" class="com.ykyframework.oss.AliyunOSSDirectory">
		<constructor-arg index="0" type="com.ykyframework.oss.AliyunOSSBucket" ref="aliyun.OSS.bucket.privateread" />
		<constructor-arg index="1" type="java.lang.String" value="${aliyun.OSS.bucket.root}" />
	</bean>
		
	<!-- 上传路径相关配置 -->
	<bean id="com.ykyframework.oss.AliyunOSSHashType.DATE_DISCRETE" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField" value="com.ykyframework.oss.AliyunOSSHashType.DATE_DISCRETE" />
	</bean>
	
	<bean id="com.ykyframework.oss.AliyunOSSHashType.MD5_DISCRETE" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField" value="com.ykyframework.oss.AliyunOSSHashType.MD5_DISCRETE" />
	</bean>
	
	<bean id="com.ykyframework.oss.AliyunOSSHashType.FRONT_DISCRETE" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField" value="com.ykyframework.oss.AliyunOSSHashType.FRONT_DISCRETE" />
	</bean>
	
	<bean id="aliyun.upload.type.demoTest" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.publicread.root" />
		<property name="targetPath" value="yky-test-3/demo-test/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.MD5_DISCRETE" />
	</bean>
	<!-- 公共读 -->
	<bean id="aliyun.upload.type.demo.publicRead" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.publicread.root" />
		<property name="targetPath" value="yky-test-2/demo-test/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.MD5_DISCRETE" />
	</bean>
	<!-- 私有读写 -->
	<bean id="aliyun.upload.type.approval.privateRead" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.privateread.root" />
		<property name="targetPath" value="register/approval/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.MD5_DISCRETE" />
	</bean>
	<bean id="entCertificates.privateRead" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.privateread.root" />
		<property name="targetPath" value="ent/certificates/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.MD5_DISCRETE" />
	</bean>
	
	<!-- 公共读 公告 -->
	<bean id="aliyun.upload.type.notice.publicRead" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.publicread.root" />
		<property name="targetPath" value="portal/notice/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.DATE_DISCRETE" />
	</bean>
	
	<!-- 公共读 商品推荐 -->
	<bean id="aliyun.upload.type.recommend.publicRead" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.publicread.root" />
		<property name="targetPath" value="portal/recommend/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.DATE_DISCRETE" />
	</bean>
	
	<!--公共读 品牌管理 -->
	<bean id="aliyun.upload.type.brandManagement.publicRead" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.publicread.root" />
		<property name="targetPath" value="brand/brandManagement/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.DATE_DISCRETE" />
	</bean>

	<!--公共读 商品相关图片 -->
	<bean id="aliyun.upload.type.goods.publicRead" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.publicread.root" />
		<property name="targetPath" value="goods/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.DATE_DISCRETE" />
	</bean>

	<!-- 品牌客户 -->
	<bean id="aliyun.upload.type.brand.customer" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.publicread.root" />
		<property name="targetPath" value="brand/customer/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.DATE_DISCRETE" />
	</bean>
	
	<!-- 物料图片 -->
	<bean id="aliyun.upload.type.item.imgBUrl.publicRead" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.material.root" />
		<property name="targetPath" value="photos/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.FRONT_DISCRETE" />
	</bean>
	
	<!-- 物料pdf -->
	<bean id="aliyun.upload.type.item.pdfUrl.publicRead" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.material.root" />
		<property name="targetPath" value="specs/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.FRONT_DISCRETE" />
	</bean>
	
	<!-- 上传支付凭证 -->
	<bean id="aliyun.upload.type.payment.voucher.privateRead" class="com.ykyframework.oss.AliyunOSSFileUploadType">
		<property name="directory" ref="aliyun.OSS.bucket.privateread.root" />
		<property name="targetPath" value="payment/voucher/" /> <!-- 路径必须以"/"结束，并起始位置不加/ -->
		<property name="hashType" ref="com.ykyframework.oss.AliyunOSSHashType.MD5_DISCRETE" />
	</bean>

	<bean id="aliyun.OSSFileUploadSetting" class="com.ykyframework.oss.AliyunOSSFileUploadSetting">
		<property name="uploadTypes">
			<map>
				<entry key="demoTest" value-ref="aliyun.upload.type.demoTest" />
				<entry key="demo.publicRead" value-ref="aliyun.upload.type.demo.publicRead" />
				<entry key="ent.certificates" value-ref="entCertificates.privateRead" />
				<entry key="approval.privateRead" value-ref="aliyun.upload.type.approval.privateRead" />
				<entry key="notice.publicRead" value-ref="aliyun.upload.type.notice.publicRead" />
				<entry key="recommend.publicRead" value-ref="aliyun.upload.type.recommend.publicRead" />
				<entry key="goods.publicRead" value-ref="aliyun.upload.type.goods.publicRead" />
				<entry key="brand.customer" value-ref="aliyun.upload.type.brand.customer" />
				<entry key="materialItem.imgBUrl" value-ref="aliyun.upload.type.item.imgBUrl.publicRead" />
				<entry key="materialItem.pdfUrl" value-ref="aliyun.upload.type.item.pdfUrl.publicRead" />
				<entry key="brandManagement.publicRead" value-ref="aliyun.upload.type.brandManagement.publicRead" />
				<entry key="voucher.privateRead" value-ref="aliyun.upload.type.payment.voucher.privateRead" />
			</map>
		</property>
	</bean>
</beans>
