.menu_h, .menu_v, .menu_h li, .menu_v li {
	margin: 0;
	padding: 0;
	line-height: 21px;
	font-size: 12px;
	list-style-type: none;
}
.menu_h a, .menu_v a {
	display: block;
	line-height: 21px;
	padding: 0 10px;
}
.menu_h li {
	float: left;
	background-color: #eee;
}
.menu_v li {
	float: none;
}
.sub_menu_off .menu_v {
	display: none;
}
.sub_menu_on .menu_v {
	display: block;
}