<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xmlns:aop="http://www.springframework.org/schema/aop"  
         xmlns:tx="http://www.springframework.org/schema/tx"  
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
           
	<!-- JSON转换器 -->
	<!-- JSON转换器 -->
	
    <bean id="myJsonConverter"
        class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">        
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>application/json; charset=UTF-8</value>
                
            </list>
        </property>
        <property name="objectMapper">
        	<bean class="com.fasterxml.jackson.databind.ObjectMapper">
		         <property name="dateFormat">
		         <bean class="java.text.SimpleDateFormat">
		         <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
		         </bean>
		         </property>
		    </bean>
        </property>
    </bean>
    
    <bean id="myClientHttpRequestFactory" class="com.ictrade.common.utils.MyClientHttpRequestFactory" >
	    <property name="readTimeout" value="50000" />
	    <property name="connectTimeout" value="15000" />
	</bean>
	
    <!-- Client -->
    <bean id="myRestTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <ref bean="myJsonConverter" />
            </list>
        </property>
        <property name="requestFactory" ref="myClientHttpRequestFactory" />
    </bean>


</beans>