<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xmlns:aop="http://www.springframework.org/schema/aop"  
         xmlns:tx="http://www.springframework.org/schema/tx"  
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd  
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd  
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
 	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->  
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/> 
	<!-- 自定义的realm用来实现用户角色和权限数据的查询 -->
    <bean id="authorityRealm" class="com.ictrade.shiro.bll.AuthorityRealm">
    	<property name="casServerUrlPrefix" value="${cas.serverUrlPrefix.internal}"></property>
    	<property name="casService" value="${main.cas.client.validation.url}"></property> 
    </bean>
    
    <!-- 扩展SecurityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="authorityRealm"/>
        <!-- <property name="cacheManager" ref="cacheManager"></property> -->
        <property name="subjectFactory" ref="casSubjectFactory"></property> 
    </bean>  
    
    <!-- <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"></bean> -->
    
    <!-- shiro filter -->
   <bean id="logout" class="org.apache.shiro.web.filter.authc.LogoutFilter" lazy-init="false"> 
        <property name="redirectUrl" value="${portal.serverUrlPrefix}/index.htm" /> 
    </bean> 
    <!-- shiro filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">  
    	<property name="securityManager" ref="securityManager" /> 
    	<!-- 设定角色的登录链接，这里为cas登录页面的链接可配置回调地址  -->    
        <property name="loginUrl" value="${cas.serverUrlPrefix}/login?service=${main.cas.client.validation.url}" />   
        <property name="filters">    
            <map>    
                <entry key="casFilter" value-ref="casFilter"/>  
                <entry key="logout" value-ref="logout"></entry>
            </map>    
        </property>   
        <property name="filterChainDefinitions">  
            <value> 
            	<![CDATA[
            		/ = authc            	
	                /home** = authc
	               	/myEnterpriseMaterial.htm** = authc
	               	/myEnterpriseMaterial/** = authc
	               	/enterpriseBusiness** = authc
	               	/inquireReply.htm = authc
	               	/inquireReply/** = authc
	                /ent.htm** = authc
	                /po.htm** = authc
	                /po/** = authc
	                /ent/** = authc
	                /logout.htm = logout
	                /login.htm = casFilter  
	                /config.htm** = authc 
	                /po.htm=authc
	                /vipCenter.htm** =authc
	                /vipCenter/** = authc
	                /supplier.htm** =authc 
	                /supplier/** =authc 
	                /vipMember.htm** =authc
	                /certificationAudit.htm** = authc
	                /subAccount.htm** = authc
	                /sysMessage.htm** = authc
	                /report/orderNumReport.htm** = authc
	                /report/userReport.htm** = authc
	                /report/userAddReport.htm** = authc
	                /report/offerQueryReport.htm** = authc
	                /report/orderPriceReport.htm** = authc
	                /enterprise.htm** = authc
	                /admin.htm** = authc
	                /admin/** = authc
	                /adminorder/orderList.htm** = authc
	                /adminorder/** = authc
	                /require.htm = authc
	               	/require/** = authc
	               	/accsecurity/sendvalidatecodetomail** = authc
	               	/accsecurity/changepwd** = authc
	               	/accsecurity.htm** = authc
	               	/saleOrder.htm** = authc
	               	/purchaseOrder.htm** = authc
	                /setAccount.htm** = authc
	                /message.htm** = authc
	                /supplierCenter.htm** = authc
	                /supplierCenter/** = authc
	                /address.htm** = authc
	                /address/** = authc
	                /goods.htm** = authc
	                /goods/** = authc
	                /goodsOrder.htm** = authc
                ]]>
            </value>    
        </property>   
    </bean>

    <bean id="casSubjectFactory" class="org.apache.shiro.cas.CasSubjectFactory" />

    <bean id="casFilter" class="org.apache.shiro.cas.CasFilter">
	<!--配置验证错误时的失败页面（Ticket 校验不通过时展示的错误页面） -->
		<property name="failureUrl" value="/errors/error.htm" />
	</bean>
 
</beans>
	