<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="false">
	
	<!-- 自定义错误码的处理器，替代之前的 SimpleMappingExceptionResolver-->
	<bean class="com.ykyframework.web.aop.BaseControllerAdvice"/>
	
	<!-- add by zr.aoxianbing 调度  订单金额统计数据表 -->
	<bean id="jobTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
		<property name="targetObject">
			<bean class="com.ictrade.order.bll.OrderManager" />  
		</property>  
		<property name="targetMethod" value="monthOrderStatistics" />  
		<property name="concurrent" value="false" /><!-- 作业不并发调度 -->  
	</bean>  
	<!-- add by zr.aoxianbing 配置每月自动调用一次   0 */1 * * * ?  0 0 1 6 * ?-->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
		<property name="jobDetail" ref="jobTask" />
		<!-- 每天下午三点闭市运行一次   -->
		<property name="cronExpression" value="0 0 1 6 * ?"/>  
	</bean> 
	<!-- add by zr.aoxianbing 配置调度工厂-->
 	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
		<property name="triggers">
		<list>  
			<ref bean="cronTrigger" />
		</list>  
		</property>  
	</bean>  
	
	<!-- add by zr.helinmei 调度 每月1号定时把消息表的数据插入到备份表中，消息表只保留上个月的数据 -->
	<bean id="jobMsg" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
		<property name="targetObject">  
			<bean class="com.ictrade.message.bll.MessageManager" />  
		</property>  
		<property name="targetMethod" value="insertMessageHis" />  
		<property name="concurrent" value="false" /><!-- 作业不并发调度 -->  
	</bean>  
	<!-- add by zr.helinmei 配置每月1号凌晨自动调用一次-->
	<bean id="cronTriggerMsg" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
		<property name="jobDetail" ref="jobMsg" />
		<!-- <property name="cronExpression" value="0 0 0 1 * ?"/>   -->
		<property name="cronExpression" value="0 15 10 ? * *"/>
	</bean> 
	<!-- add by zr.helinmei 配置调度工厂-->
 	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
		<property name="triggers">  
		<list>  
			<ref bean="cronTriggerMsg" />  
		</list>  
		</property>  
	</bean> 
</beans>